<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
   <h2>User Profile</h2>
<p><strong>Username:</strong> {{ user.username }}</p>
{% comment %} <p><strong>First Name:</strong> {{ user.first_name }}</p>
<p><strong>Last Name:</strong> {{ user.last_name }}</p> {% endcomment %}

{% comment %} <h2>Update Your Name</h2> {% endcomment %}
<strong>
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update</button>
</form>
</strong>
</body>
</html>
